body {
    background-color: #fff5d7;
    font-family: Arial;

    margin: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;

    margin: auto;
    margin-top: 100px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;

    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #f4a6b8;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
button:hover {
    background-color: #ef8fa6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 40px;
    background-color: #fff5d7;
    border-bottom: 2px solid black;
}

.header h2 {
    margin: 0;
}

.header-actions button {
    background-color: #8ecae6;
    padding: 8px 14px;
    border-radius: 6px;
    font-size: 14px;
}

.header-actions a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.view-tabs {
    display: flex;
    gap: 10px;
    padding: 15px 40px;
    margin-top: 10px;
}

.view-tabs button {
    padding: 8px 16px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
}

.view-tabs .active {
    background-color: #f4a6b8;
}

.task-list {
    padding: 20px 40px;
}

.task-box {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
    border: 2px solid black;
}

.task-box h3 {
    margin-top: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.task-item .date {
    font-size: 12px;
    color: gray;
}

.todo {
    border-bottom: 6px solid #f4a6b8;
    border-right: 6px solid #f4a6b8;
}

.doing {
    border-bottom: 6px solid #8ecae6;
    border-right: 6px solid #8ecae6;
}

.done {
    border-bottom: 6px solid #90db95;
    border-right: 6px solid #90db95;
}

.task-list .board {
    display: flex;
    gap: 20px;
}

.task-list .board .task-box {
    width: 33%;
}